<simple-notifications></simple-notifications>

<div class="main-banner">
  <h2>Welcome to</h2>
  <h1>DRest!</h1>
  <div class="main-users">
    <div class="user">
      <p>New to the service?</p>
      <button data-toggle="modal" data-target="#myModal">Sign Up</button>
    </div>
    <div class="user">
      <p>Already an user?</p>
      <a href="#"><button>Login</button></a>
    </div>
  </div>
</div>

<div class="main-body">
  <h1>Manage your business</h1>
    <div class="main-description">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        <p>Make your business work faster than ever!</p>
    </div>
    <div class="main-description">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <p>Generate complete and continuous data with your workflow.</p>
    </div>
    <div class="main-description">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>Let your customers know you, become social and bigger!</p>
    </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"><i class="fa fa-cutlery" aria-hidden="true"></i>DRest Registration<i class="fa fa-cutlery" aria-hidden="true"></i></h1>
        </div>
        <form (ngSubmit)="userSignUp()" #signupForm="ngForm">
            <div class="modal-body">
                <div class="modal-input">
                  <label for="username">Username</label><br>
                  <input type="text" name="username" [(ngModel)]="user.username" required>
                </div>
                <div class="modal-input">
                  <label for="email">Email</label><br>
                  <input type="text" name="email" [(ngModel)]="user.email" required>
                </div>
                <div class="modal-input">
                  <label for="role">Account type</label><br>
                  <select name="role" [(ngModel)]="user.role" required>
                    <option value="Owner">Owner</option>
                    <option value="Customer">Customer</option>
                  </select>
                </div>
                <div *ngIf="user.role=='Customer'" class="modal-input">
                  <label for="password">Password</label><br>
                  <input type="password" name="password" [(ngModel)]="user.password" required>
                </div>
                <div *ngIf="user.role=='Owner'" class="modal-input">
                  <label for="information">Give some insight about yourself</label><br>
                  <textarea rows="3" type="information" name="information" [(ngModel)]="user.information" required>
                  </textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <button type="submit" [disabled]="!signupForm.valid" data-toggle="modal" data-target="#myModal">SignUp</button>
              <p class="error" *ngIf="error">{{ error }}</p>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
