<simple-notifications></simple-notifications>

<div class="main-banner">
  <h2>Welcome to</h2>
  <h1>DRest!</h1>
  <div class="main-users">
    <div class="user">
      <p>Owner?</p>
      <button (click)="showOwnerForm()">Sign in</button>
    </div>
    <div class="user">
      <p>Customer?</p>
      <a href="#"><button>Sign in</button></a>
    </div>
  </div>
</div>

<div class="main-body">
  <h1>Manage your business</h1>
    <div class="main-description">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        <p>Make your business work faster than ever!</p>
    </div>
    <div class="main-description">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <p>Generate complete and continuous data with your workflow.</p>
    </div>
    <div class="main-description">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>Let your customers know you, become social and bigger!</p>
    </div>
</div>

<div class="main-signup" *ngIf="showOwner">
  <h1>Registration Form</h1>
  <form (ngSubmit)="ownerSignUp(ownerForm)" #ownerForm="ngForm">
  <fieldset>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="user.username" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <label for="information">Give some insight about yourself</label>
      <textarea type="information" name="information" [(ngModel)]="user.information" required>
      </textarea>
    </div>
    <button type="submit" [disabled]="!ownerForm.valid">Login</button>
    <p class="error" *ngIf="error">{{ error }}</p>
  </fieldset>
</form>
</div>
