.team-body {
  text-align: center;
  color: #0d0a0a;
}

.team-head {
  color: white;
  background-color: rgba(207, 58, 36, 0.8);
  padding: 10px;
  margin-bottom: 30px;
}

.team-body i {
  font-size: 0.7em;
  margin: 0 10px;
  color: rgba(13, 10, 10, 0.9);
}

.team-head h1 {
  margin: 0;
  font-family: 'Medula One', cursive;
  font-size: 4em;
}

.table-group{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.table-single {
  display: inline-block;
  margin: 5px;
}

.table-list {
  background-color:rgba(207, 58, 36, 0.6);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.team-add {
  margin-top: 10px;
  font-size: 1em;
}

.team-add i {
  margin-bottom: 10px;
  color: rgba(207, 58, 36, 0.8);
  font-size: 3em;
}

/* COMMON */
button {
  background-color: rgba(207, 58, 36, 0.8);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 10px;
}

img {
  width: 80%;
  border: 0px;
  border-radius: 5px;
}

.footer-limit {
  height: 80px;
}

h1 {
  font-family: 'Medula One', cursive;
}

h2 {
  font-family: 'Medula One', cursive;
}


/*Modal Content*/
.modal-body {
  text-align: center;
}

.modal-header {
  text-align: center;
}
.modal-title {
  font-family: 'Medula One', cursive;
}

.modal-title i {
  font-size: 0.6em;
  margin: 0 10px;
}

.modal-input {
  margin: 15px;
}

.modal-input input, textarea{
  width: 80%;
}

.modal-input label {
  margin: 5px;
}

.close {
  float: left;
  padding: 5px 10px;
}
