.footer-list {
  color: rgba(207, 58, 36, 0.8);
  text-align: center;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  border-top: 0.5px solid rgba(117, 125, 117, 0.6);
}

.fa {
  color: rgba(207, 58, 36, 0.8);
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin-top: 0px;
}

.novalid {
  color: rgba(117, 125, 117, 0.6);
}

a {
  color: inherit;
}
